
table.lists{
    border-collapse:collapse;
}

table.lists th,table.lists td{
    border:1px solid black;
    padding:4px;
    font-size:12px;
}

th.head{
    background-color:#FED;
    
}
th.num{
    /*background-color:#FFD;*/
    background-color:rgba(255,255,200,0.5);
}

table.lists tr:hover{
    background-color:#DDF;
    cursor:pointer;
}
