/*
.picmark .iframe{
    width:200px;
    height:200px;
    border:2px solid black;
}
*/
.pickmark h1{
    width:800px;
    margin:8px auto 0;
    color:black;
}

/*FileUpload*/
.file_upload{
    width:90%;
    height:400px;
    min-height:300px;
    padding:0;
    margin:0 auto;
    border:0;
}

.file_list{
    width:800px;
    min-height:200px;
    margin:0 auto;
    border:1px solid #666;
}

.file_list ul{
    padding:0 0 0 16px;
    margin:2px;
    display:none;
}
.file_list > ul{
    display:block;
}
.file_list li{
    /*height:16px;
    line-height:16px;*/
    list-style: none;
    margin:0;
    padding-top:0;
    padding-bottom:0;
}
.file_list li img{
    margin:0 4px;
    float:left;
    cursor:pointer;
}
.file_list li.file:hover{
    background-color:#DDF;
}
.file_list li.file img{
    cursor:move;
}



