
body{
    -webkit-user-select: none;
}

/*写真一覧*/


.pic_list{
    /*border:1px solid red;*/
}

.pic_list .num{
    text-align:left;
    height:16px;
    line-height:16px;
    font-weight:12px;
    padding:0 8px;
    font-weight:bold;
}

.pic_list table{
    width:100%;
    border-collapse:collapse;
}
.pic_list .picimg{
    height:120px;
    vertical-align:bottom;
    text-align:center;
    padding:4px;
}
.pic_list .breadcrumb_list{
    width:100%;
    height:40px;
    line-height:40px;
    text-align:left;
    
}
.pic_list .breadcrumb_list,.pic_list .breadcrumb_list *{
    font-size:14px;
    font-weight:bold;
}
.pic_list div.folder,.pic_list div.file{
    width:140px;
    height:180px;
    float:left;
    text-align:center;
    padding:0;
    margin:4px 8px;
    cursor:pointer;
    position:relative;
}
.pic_list *{
    font-size:10px;
}

.pic_list div.folder{
    border:3px solid #AAA;
    border-radius:8px;
}

.pic_list div.folder:hover{
    background-color:#FDB;
}

.pic_list div.file{
    border:3px dotted #AAA;
    border-radius:8px;
}

.pic_list div.file:hover{
    background-color:#FDB;
}

.pic_list img.pics{
    max-width:120px;
    max-height:120px;
    height:auto;
    box-shadow:2px 2px 4px rgba(0,0,0,0.5);
    cursor:pointer;
}
.pic_list h4{
    background-color:#EEF;
    padding:4px;
}

.pic_list div.pics_sel{
    border:3px solid #F80 !important;
}


/*「もっと読み込む」ボタン*/
#picview_more{
    clear:both;
    border:1px solid #666;
    margin:10px auto;
    font-size:16px;
    font-weight:bold;
    width:70%;
    height:30px;
    line-height:30px;
    text-align:center;
    border-radius:8px;
    cursor:pointer;
    background:-webkit-linear-gradient(#EEE,#999);
}
#picview_more:hover{
    background:-webkit-linear-gradient(#FFF,#BBB);
}
#picview_more:active{
    background:-webkit-linear-gradient(#BBB,#FFF);
}


/*左側メニューリスト*/
.menu_list{
    padding-left:0px;
}
.menu_list li{
    font-size:14px;
    list-style:none;
    padding-left:16px;
}


