.book_file,.book_folder{
    text-align:center;
    padding:4px;
    margin:4px;
    width:120px;
    height:160px;
    border-radius:8px;
    float:left;
    display:table-cell;
    vertical-align:bottom;
    overflow:hidden;
}

.book_file{
    
    border:2px dotted #FAA;
    background-color:#FED;
    cursor:pointer;
    
}
.book_file img{
    max-width:100px;
    max-width:120px;
}

.book_folder{
    border:2px dotted #CCC;
    background-color:#DDD;
}

.file_title{
    font-size:20px;
    font-weight:bold;
    
}

.breadcrumb_arrow{
    font-weight:bold;
    color:red;
    margin:0 8px;
}

#detail{
    margin:8px;
    
}
#detail,#detail *{
    font-size:12px;
    color:#AAA;
}

