
html,body{
	margin:0;
	padding:0;
    min-height:100%;
}

body{
    overflow-y:scroll;
    /*background:-webkit-linear-gradient(white,#AAA);*/
}

*{
    font-size:12px;
}
h1{
    font-size:20px;
}
h2{
    font-size:18px;
}
h3{
    font-size:16px;
}
h4{
    font-size:14px;
}

.contents{
    width:800px;
	padding:6px 8px;
	margin:4px auto;
	min-height:400px;
    /*
	box-shadow:2px 2px 6px rgba(0,0,0,0.3) inset;
	border:1px solid #CCC;
    
	background-color:white;
    */
}
.tool_contents{
    padding:6px 8px;
	margin:4px auto;
	min-height:400px;
}



