/**
 * ログイン画面用CSS
 * 
 * 
**/

.tool_contents form[name='form1']{
	width:300px;
	margin:50px auto;
	
}

.tool_contents input[type='text'],.tool_contents input[type='password']{
	width:90%;
	height:20px;
	border:1px solid #fdb;
	font-size:16px;
	display:block;
	margin:8px auto;
}

.tool_contents input[type='button'],.tool_contents input[type='submit']{
	width:60px;
	height:20px;
	line-height:20px;
	font-size:14px;
	display:block;
	float:right;
	margin:8px 0;
}

.tool_contents div.img{
    background-color:white;
    min-width:100px;
    min-height:100px;
    border:2px dotted #AAA;
    margin:8px;
    padding:4px;
}

fieldset{
    border:1px solid #AAA;
    border-radius:4px;
    margin:20px auto;
    background-color:#EEE;
}
fieldset:hover{
    background-color:#FFE;
}
legend{
    font-weight:bold;
    padding:4px;
    
}


