div.footer{
    font-size:12px;
	/*min-height:60px;*/
	margin:8px 0;
	text-align:center;
	/*border:1px solid black;*/
	/*box-shadow:2px 2px 8px rgba(0,0,0,0.5);*/
    border-top:1px solid black;
}

div.footer a{
    height:24px;
    line-height:24px;
    display:block;
    width:100%;
    border-bottom:1px solid black;
    background-color:#EEE;
}
div.footer a:hover{
    opacity:0.5;
}
div.footer span{
    display:none;
}

hr.footer{
    display:none;
}
