.header{
    padding:4px;
    min-width:800px;
    min-height:40px;
    line-height:40px;
    white-space:nowrap;
    /*
    margin:8px 0;
	min-height:30px;
	line-height:30px;
	padding:4px;
	border-radius:8px 8px 0 0;
	box-shadow:2px 2px 6px rgba(0,0,0,0.3);
	border:1px solid #CCC;
	text-align:center;
	background-color:white;
    */
}
.system_menu{
    width:100%;
    min-height:28px;
    line-height:28px;
    background-color:black;
    color:white;
    margin:0;
    border:0;
}
.system_menu:empty{
    display:none;
}
.system_menu .menu_link{
    margin:0 8px;
    font-size:12px;
}
.system_menu a.menu_link{
    color:white;
}
.system_menu span.menu_link{
    color:orange;
}

input[name='id'],input[name='pw']{
    width:100px;
    height:24px;
    display:table-cell;
    border:1px solid #AAA;
    padding:0 8px;
    border-radius:4px;
}

.header_tools{
    float:right;
}
.header_tools_list{
    display:table-cell;
    vertical-align:middle;
    padding-right:8px;
}
.header_tools_system{
    display:table-cell;
    vertical-align:middle;
}

