/**
 * ログイン画面用CSS
 * 
 * 
**/

.tool_contents form[name='form1']{
	width:200px;
	margin:50px auto;
	
}

.tool_contents input[type='text'],.tool_contents input[type='password']{
	width:100%;
	height:20px;
	border:1px solid #fdb;
	font-size:16px;
	display:block;
	margin:8px auto;
}

.tool_contents input[type='button'],.tool_contents input[type='submit']{
	width:60px;
	height:20px;
	line-height:20px;
	font-size:14px;
	display:block;
	float:right;
	margin:8px 0;
}