
head_title{
    font-weight:bold;
    font-size:20px;
}

th{
    width:100px;
    background-color:black;
    color:white;
}

/*icon*/
.himoku_list{
    width:220px;
    position:absolute;
    background-color:white;
    border:1px solid black;
    box-shadow:8px 8px 8px rgba(0,0,0,0.5);
    padding:8px;
    text-align:center;
}
.himoku_list .close{
    position:absolute;
    top:-8px;
    right:-8px;
    width:16px;
    height:16px;
    cursor:pointer;
}
.himoku_list .close img{
    width:16px;
    height:16px;
}
.himoku_list label{
    display:block;
    width:60px;
    margin:4px;
    float:left;
    text-align:left;
}
.himoku_button{
    width:16px;
    cursor:pointer;
}
.icon{
    width:16px;
}
label{
    cursor:pointer;
}
label:hover,.list_icon:hover{
    opacity:0.5;
}
.count{
    width:20px;
    height:16px;
    padding:0;
    margin:0;
    text-align:center;
    cursor:pointer;
    font-size:12px;
}

